version: '3.8'

services:
  api:
    image: raphaelcordon/fiapmedicalappointment:latest
    environment:
      - Jwt__Key=${JWT_KEY}
      - ConnectionStrings__SqlServerConnectionString=${CONNECTIONSTRINGS}
      - EmailService__MailString=${EMAIL_SERVICE_MAIL}
      - EmailService__PassString=${EMAIL_SERVICE_PASS}
    depends_on:
      - db
    volumes:
      - static_files:/static-files
      - media_files:/media-files
      - frontend_build:/frontend/dist
    networks:
      - app-network

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: "Y"
    networks:
      - app-network
    volumes:
      - db-data:/var/opt/mssql

  nginx:
    image: nginx:1.25
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - static_files:/static-files
      - media_files:/media-files
      - ./nginx:/etc/nginx/conf.d
      - frontend_build:/frontend_build
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - api
    networks:
      - app-network

volumes:
  db-data:
  static_files:
  media_files:
  frontend_build:

networks:
  app-network:
    driver: bridge
