version: '3.8'
services:
  api:
    image: raphaelcordon/fiapmedicalappointment:latest
    environment:
      - Jwt__Key=${JWT_KEY}
      - ConnectionStrings__SqlServerConnectionString=${CONNECTIONSTRINGS}
      - EmailService=${EMAIL_SERVICE}
    depends_on:
      - db
    volumes:
      - static_files:/static-files
      - media_files:/media-files
      - frontend_build:/frontend/dist

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      - SA_PASSWORD=${SA_PASSWORD}
      - ACCEPT_EULA=Y
    volumes:
      - sql_data:/var/opt/mssql
  
  nginx:
    image: nginx:1.25
    ports:
      - '8080:80'
      - '443:443'
    volumes:
      - static_files:/static-files
      - media_files:/media-files
      - ./nginx:/etc/nginx/conf.d
      - frontend_build:/frontend_build
      - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  sql_data:
  static_files:
  media_files:
  frontend_build:

