version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: final
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__SqlServerConnectionString: "Server=db,1433;Database=sub-database;User Id=sa;Password=someThingComplicated1234;TrustServerCertificate=true;"
    ports:
      - '5002:80'
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "someThingComplicated1234"
      ACCEPT_EULA: "Y"
    ports:
      - '1433:1433'
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - app-network

volumes:
  sql_data:

networks:
  app-network:
    driver: bridge
