name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image
      - name: Pull latest image
        run: docker pull raphaelcordon/fiapmedicalappointment:latest || true
      - name: Build the Docker image
        run: docker build . --tag raphaelcordon/fiapmedicalappointment:${{ github.sha }} --cache-from raphaelcordon/fiapmedicalappointment:latest --target production
      - name: Push the Docker image
        run: |
          docker push raphaelcordon/fiapmedicalappointment:${{ github.sha }}
          docker tag raphaelcordon/fiapmedicalappointment:${{ github.sha }} raphaelcordon/fiapmedicalappointment:latest
          docker push raphaelcordon/fiapmedicalappointment:latest

  test:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: |
          echo "Run your .NET tests here"
          # Example: docker run --rm raphaelcordon/fiapmedicalappointment:${{ github.sha }} dotnet test

  lint:
    needs: test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Run linter
        run: |
          echo "Run your .NET format check here"
          # Example: docker run --rm raphaelcordon/fiapmedicalappointment:${{ github.sha }} dotnet tool run dotnet-format -- --check

  deploy:
    needs: lint
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Set up SSH Key
        run: |
          mkdir -p $HOME/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > $HOME/.ssh/id_rsa
          chmod 600 $HOME/.ssh/id_rsa
          ssh-keyscan -H 164.90.229.241 >> $HOME/.ssh/known_hosts
          ls -la $HOME/.ssh
          cat $HOME/.ssh/id_rsa
      - name: Copy configuration files to Droplet
        run: |
          scp -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa docker-compose.deploy.yml raphael@164.90.229.241:/home/raphael/docker-compose.deploy.yml
          ssh -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa raphael@164.90.229.241 'mkdir -p /home/raphael/nginx'
          scp -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa nginx/default.conf raphael@164.90.229.241:/home/raphael/nginx/default.conf
      - name: Deploy to Digital Ocean
        run: |
          ssh -o StrictHostKeyChecking=no -i $HOME/.ssh/id_rsa raphael@164.90.229.241 'docker pull raphaelcordon/fiapmedicalappointment:latest && docker-compose -f /home/raphael/docker-compose.deploy.yml up -d'
